ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    background-color: #fafafa;
}

header {
    background-color: #3a5072; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 20px; 
}

.left-nav a, .right-nav a{
    text-decoration: none;
    color:#f1f1f1;
    font-family: 'Inria Sans', serif;
}

.left-nav ul, .right-nav ul {
    display: flex; 
    justify-content: flex-start; 
}

.left-nav li, .right-nav li {
    margin: 0px 20px 0px; 
}

.logo {
    text-align: center; 
}

.logo h1 {
    font-size: 24px; 
    font-family: 'Inria Sans', serif;
    color: #fe9f8b;
    margin: 0; 
    padding: 0; 
}

.norman-title {
    font-family: 'Inria Sans', serif;
    margin: 50px 100px 50px;
    text-align: center;
}
.norman-title h1 {
    font-size: 100px;
    font-family: inria sans, serif;
    margin-bottom: 20px;
    color: #4B4B4B;
}
.norman-title p {
    font-size: 40px;
    color: #d9583c;
    font-family: inria serif;
    font-style: italic;
    margin-top: 10px;
}
.norman {
    margin: 150px 120px 50px;
}
.norman h1 {
    font-size: 30px;
    font-family: inria serif;
    color: #3a5072;
}
.norman h2{
    font-size: 35px;
    font-family: inria serif;
    color: #827C7A;
}
.norman p {
    font-size: 20px;
    font-family: jomolhari, serif;
    line-height: 1.4;
    color: #373333;
}
.date {
    margin: 150px 120px 50px;
}
.response {
    margin: 30px 80px 70px;
}
.response summary {
    font-size: 30px;
    font-family: inria serif;
    font-weight: bold;
    color: #F88066;
}
.response p {
    font-size: 20px;
    font-family: jomolhari, serif;
    color: #1F2346;
}